<ion-content class="ion-padding">
    <h1>Supercharging Ionic Development</h1>
    
    <p>
        Welcome to the documentation pages for Ionic Power Tools. Here you'll find demos, example code, and our API reference to the must-have library for all Ionic Angular apps.
    </p>

    <h2>Components</h2>

    <ion-grid>
        <ion-row>
            <ion-col size="12" size-sm="6" size-xl>
                <ion-card [button]="true" routerLink="/loading-spinner">
                    <ion-card-header>
                        <ion-card-title>
                            Loading Spinner
                        </ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        Quickly connect any RxJS observable to the <code>ion-spinner</code> component
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col size="12" size-sm="6" size-xl>
                <ion-card [button]="true" routerLink="/dynamic-dialog">
                    <ion-card-header>
                        <ion-card-title>
                            Dynamic Dialog
                        </ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        Create a custom dialog that can pass strongly-typed data back to the caller using RxJS
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col size="12" size-sm="6" size-xl>
                <ion-card [button]="true" routerLink="/form-input">
                    <ion-card-header>
                        <ion-card-title>
                            Form Input
                        </ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        Adds validation, required *, and error messages (with on touched support) for form controls
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

    <h2>Getting Started</h2>
    Just install the package with
    <code>npm install ionic-power-tools</code>
    and import the modules you want to use!

    <h2>Changes in 2.0</h2>
    The <code>DynamicRouterModule</code> has been removed in favor of the <code>ngx-strong-router</code> library.

    <h2>Licensing</h2>
    This project is licensed under GPL version 3. Alternative licensing can be obtained by contacting the author.
</ion-content>